* {
    margin: 0;
}

img {
    width: 200px;

}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.catalog__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.catalog__cards {
    margin: 20px;
    display: flex;
    align-items: center;
    border: 2px solid black;
}

.catalog__cards--reverse {
    flex-direction: row-reverse;
}


